<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Statistic page</title>
<object th:replace="fragments/util :: standardCSS"></object>

</head>

<body id="mimin" class="dashboard">
	<!-- start: Header -->
	<div th:replace="fragments/header :: header"></div>
	<!-- end: Header -->

	<div class="container-fluid mimin-wrapper">

		<!-- start:Left Menu -->
		<div th:replace="fragments/menu :: leftMenu"></div>
		<!-- end: Left Menu -->


		<!-- start: content -->
		<div id="content">

			<div th:replace="fragments/statistic/menu/statistic_menu :: statistic_menu"></div>


			<div class="col-md-12" style="padding: 20px;">
				<div th:replace="fragments/statistic/boxes/aggregated_boxes :: aggregated_boxes"></div>
				
				<div th:replace="fragments/statistic/calendar :: calendar"></div>
			</div>
		</div>
		<!-- end: content -->

	</div>

	<!-- start: Mobile -->
	<div id="mimin-mobile" class="reverse" th:include="fragments/menu :: mobileMenu"></div>
	<button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
		<span class="fa fa-bars"></span>
	</button>
	<!-- end: Mobile -->

	<!-- start: Javascript -->
	<div th:replace="fragments/util :: standardJS"></div>
	<script th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.min.js}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				header : {
					left : 'prev,next today',
					center : 'title',
					right : 'month,agendaWeek,agendaDay'
				},
				defaultDate : '2015-02-12',
				businessHours : true, // display business hours
				editable : true,
				events : [ {
					title : 'Business Lunch',
					start : '2015-02-03T13:00:00',
					constraint : 'businessHours'
				}, {
					title : 'Meeting',
					start : '2015-02-13T11:00:00',
					constraint : 'availableForMeeting', // defined below
					color : '#20C572'
				}, {
					title : 'Conference',
					start : '2015-02-18',
					end : '2015-02-20'
				}, {
					title : 'Party',
					// start: '2015-02-29T20:00:00',
					start : '2015-02-21 13:49:28.243'
				},

				// areas where "Meeting" must be dropped
				{
					id : 'availableForMeeting',
					start : '2015-02-11T10:00:00',
					end : '2015-02-11T16:00:00',
					rendering : 'background'
				}, {
					id : 'availableForMeeting',
					start : '2015-02-13T10:00:00',
					end : '2015-02-13T16:00:00',
					rendering : 'background'
				},

				// red areas where no events can be dropped
				{
					start : '2015-02-24',
					end : '2015-02-28',
					overlap : false,
					rendering : 'background',
					color : '#FF6656'
				}, {
					start : '2015-02-06',
					end : '2015-02-08',
					overlap : true,
					rendering : 'background',
					color : '#FF6656'
				} ]
			})
		});
	</script>
	<!-- end: Javascript -->
</body>
</html>