<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="request-detail-student-feedback">

		<div class="col-md-12">
			<div>
				<label class="col-sm-3 control-label text-left">Have you had peer consultation before?</label>
				<div class="col-sm-9">
					<label class="text-left" th:text="Yes"
						th:if="${consultation.getStudentFeedback().firstConsultation==true}"></label> <label
						class="control-label text-right" th:text="No"
						th:if="${consultation.getStudentFeedback().firstConsultation!=true}"></label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label text-left">Was the consultation useful?</label>
				<div class="col-sm-9">
					<label class="text-left" th:text="Yes"
						th:if="${consultation.getStudentFeedback().useful==true}"></label> <label
						class="control-label text-right" th:text="No"
						th:if="${consultation.getStudentFeedback().useful!=true}"></label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label text-left">Provided enough support?</label>
				<div class="col-sm-9">
					<label class="text-left" th:text="Yes"
						th:if="${consultation.getStudentFeedback().providedSupport==true}"></label> <label
						class="control-label text-right" th:text="No"
						th:if="${consultation.getStudentFeedback().providedSupport!=true}"></label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label text-left">Will you back again?</label>
				<div class="col-sm-9">
					<label class="text-left" th:text="Yes"
						th:if="${consultation.getStudentFeedback().comingBack==true}"></label> <label
						class="control-label text-right" th:text="No"
						th:if="${consultation.getStudentFeedback().comingBack!=true}"></label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label text-left">Summary</label>
				<div class="col-sm-9">
					<label class="text-left" th:utext="${consultation.getStudentFeedback().comments}"
						th:if="${consultation.getStudentFeedback().comments!=true}"></label>
				</div>
			</div>

		</div>
	</div>




</body>
</html>