<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="request-detail-student-feedback">

		<div class="col-md-12">
			<dl class="dl-vertical">
				<dt>Have you had peer consultation before?</dt>
				<dd th:text="Yes" th:if="${consultation.getStudentFeedback().firstConsultation==true}"></dd>
				<dd th:text="No" th:if="${consultation.getStudentFeedback().firstConsultation!=true}"></dd>
				<dt>Was the consultation useful?</dt>
				<dd th:text="Yes" th:if="${consultation.getStudentFeedback().useful==true}"></dd>
				<dd th:text="No" th:if="${consultation.getStudentFeedback().useful!=true}"></dd>
				<dt>Provided enough support?</dt>
				<dd th:text="Yes" th:if="${consultation.getStudentFeedback().providedSupport==true}"></dd>
				<dd th:text="No" th:if="${consultation.getStudentFeedback().providedSupport!=true}"></dd>
				<dt>Will you come back again?</dt>
				<dd th:text="Yes" th:if="${consultation.getStudentFeedback().comingBack==true}"></dd>
				<dd th:text="No" th:if="${consultation.getStudentFeedback().comingBack!=true}"></dd>
				<dt>Comments</dt>
				<dd th:utext="${consultation.getStudentFeedback().comments}"></dd>
			</dl>

		</div>
	</div>

</body>
</html>