<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="request-detail-consultant-feedback">
		<div class="col-md-12">
			<div>
				<label  class="col-sm-4 control-label text-left">Element of discussion</label>
				<div class="col-sm-6">
							<label for="name" class="control-label text-right">Element of discussion</label>
				</div>                     
			</div>
						
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label text-left">What materials did you work with?</label>
					<div class="col-sm-6">
							<label  class="control-label text-right">Element of discussion</label>
					</div>                     
			</div>
						
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label text-left">What did you cover?</label>
					<div class="col-sm-6">
								<label  class="control-label text-right">Element of discussion</label>
					</div>                     
			</div>
						
			<div class="form-group">
				<label for="language" class="col-sm-4 control-label text-left">New consultation?</label>
						<div class="col-sm-6">
								<label  class="control-label text-right">Element of discussion</label>
						</div>
			</div>														
					
			<div class="form-group">
				<label for="language" class="col-sm-4 control-label text-left">Summary</label>
						<div class="col-sm-6">
								<label  class="control-label text-right">Element of discussion</label>
						</div>
			</div>	

		</div>	
	</div>

</body>
</html>