<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
	<body>
		<table  th:fragment="request_detail_info" class="table table-hover">
			    <thead>
			      <tr>
			        <th>Fullname</th>
			        <th>Email</th>
			        <th>Programme</th>
			        <th>Degree</th>
			        <th>Text type</th>
			        <th>Department</th>
			        <th>Language</th>
			        <th>Download</th>
			        <th>Status</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td> <label th:text="${consultation.name}"></label> </td>
			      
			        <td> <label th:text="${consultation.email}"></label> </td>
			      
			        <td> <label th:text="${consultation.programme}"></label> </td>
			      
			        <td> <label th:text="${consultation.degree}"></label> </td>
			      
			        <td> <label th:text="${consultation.textType}"></label> </td>
			        
			        <td> <label th:text="${consultation.department}"></label> </td>
			        <td> <label th:text="${consultation.language}"></label> </td>
			        <td> 
			        	<a th:href="${consultation.generateUploadUrl()}" th:if="${consultation.hasFile()}">
							<span class="glyphicon glyphicon-download-alt"></span> Download
						</a>
			         </td>
			         <td>
							<form   id="request-form" th:if="${consultation.getStatus().toString()}==RECEIVED" th:object="${p}" th:method="post" th:action="@{/requests/{id}(id=${consultation.id})}">
			                	<button class="btn btn-primary" type="submit">Accept</button>
			                </form>
			                
			                <a th:href="@{/requests/{id}/consultantfeedback (id=${consultation.id})}" th:if="${consultation.getStatus().toString()}==SCHEDULED">
								<button class="btn btn-primary" type="submit">Set feedback</button>
							</a>
							
			                <a th:href="@{/requests/{id}/setmeeting (id=${consultation.id})}" th:if="${consultation.getStatus().toString()=='ACCEPTED'}">
								<button class="btn btn-primary" type="submit">Set Date</button>
							</a>

			                
			                <span th:if="${consultation.getStatus().toString()!='SCHEDULED' and
			                 consultation.getStatus().toString()!='RECEIVED' and
			                  consultation.getStatus().toString()!='ACCEPTED'}"
			                   th:text="${consultation.getStatus()}"></span>
							
			         </td>
			      </tr>
			    </tbody>
		</table>
	</body>
</html>