<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="request-detail-consultant-feedback">
		<div class="col-md-12">
			<dl class="dl-vertical">
				<dt>Element of discussion</dt>
				<dd th:text="${consultation.getConsultantFeedback().discussionElement}"></dd>
				<dt>What materials did you work with?</dt>
				<dd th:text="${consultation.getConsultantFeedback().discussedMaterial}"></dd>
				<dt>What did you cover?</dt>
				<dd th:text="${consultation.getConsultantFeedback().coveredIssues}"></dd>
				<dt>New consultation?</dt>
				<dd th:if="${consultation.getConsultantFeedback().suggestedNewConsultation!=null}"></dd>
				<dt>Comments</dt>
				<dd th:utext="${consultation.getConsultantFeedback().summary}"></dd>
			</dl>


		</div>
	</div>

</body>
</html>