<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="request-detail-student-feedback">
		<div class="col-md-12 nav-wrapper">
					<div class="col-md-12">
			<div>
				<label  class="col-sm-4 control-label text-left">Have you had peer consultation before?</label>
				<div class="col-sm-6">
							<label for="name" class="control-label text-right">Element of discussion</label>
				</div>                     
			</div>
						
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label text-left">Was the consultation useful?</label>
					<div class="col-sm-6">
							<label  class="control-label text-right">Element of discussion</label>
					</div>                     
			</div>
						
			<div class="form-group">
				<label for="name" class="col-sm-5 control-label text-left">Did the consultant provide support for what you needed?</label>
					<div class="col-sm-6">
								<label  class="control-label text-right">Element of discussion</label>
					</div>                     
			</div>
						
			<div class="form-group">
				<label for="language" class="col-sm-4 control-label text-left">Will you back again?</label>
						<div class="col-sm-6">
								<label  class="control-label text-right">Element of discussion</label>
						</div>
			</div>														
					
			<div class="form-group">
				<label for="language" class="col-sm-4 control-label text-left">Comments:</label>
						<div class="col-sm-6">
								<label  class="control-label text-right">Element of discussion</label>
						</div>
			</div>	

		</div>	
	</div>
			
		</div>


</body>
</html>