<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="statistic_menu">
		<div class="panel">
             <div class="panel-body">
                 <div class="col-md-6 col-sm-12">
                   <h3 class="animated fadeInLeft">Statistic</h3>

                   <ul class="nav navbar-nav">
                       <li><a href="" >Today</a></li>
                       <li><a href="" class="active">Weekly</a></li>
                       <li><a href="">Monthly</a></li>
                       <li><a href="">Total</a></li>
                   </ul>
               </div>
             </div>                    
         </div>
	</div>
</body>
</html>