<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="statistic_menu">
		<div class="panel">
             <div class="panel-body">
                 <div class="col-md-6 col-sm-12">
                   <h3 class="animated fadeInLeft">Statistics</h3>

                   <ul class="nav navbar-nav">
                   	   <li><a href="#" onclick="retrieveStatistics('today')">Today</a></li>
                       <li><a href="#" class="active" onclick="retrieveStatistics('week')">Weekly</a></li>
                       <li><a href="#" onclick="retrieveStatistics('month')">Monthly</a></li>
                       <li><a href="#" onclick="retrieveStatistics('all')">Total</a></li>
                   </ul>
               </div>
             </div>                    
         </div>
	</div>
</body>
</html>