<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="completed_request_box">
		<div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
              <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                <h5 class="text-left">Completed Requests</h5>
              </div>
            </div>
            <div class="panel-body text-center">
              <h1><label th:text="${stats.completed}"></label></h1>
              <hr/>
            </div>
	    </div>
	</div>
</body>
</html>