<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div class="col-md-12" th:fragment="calendar(cons)">
		<div class="panel box-v4">
			<div class="panel-heading bg-white border-none">
				<h4>Meetings</h4>
			</div>
			<div class="panel-body padding-0">
				<div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
					<h5>Showing meetings for consultant</h5>
					<div class="form-group">
						<div class="col-sm-6">
							<select class="form-control" id="consultants" th:required="required">
								<option th:each="c : ${cons}" th:value="${c.id}" th:text="${c.name}">name here</option>
							</select>
						</div>
						<div class="col-sm-6">
							<form id="request-form" th:object="${p}" th:method="post">
								<button class="btn btn-primary" type="submit">Export data to an Excel file</button>
							</form>
						</div>
					</div>
				</div>
				<div class="calendar" id="calendar"></div>
			</div>
		</div>
	</div>
</body>
</html>
