<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="header" class="navbar navbar-default header navbar-fixed-top">
		<div class="col-md-12 nav-wrapper">
			<div class="navbar-header" style="width: 100%;">
				<div class="opener-left-menu is-open">
					<span class="top"></span> <span class="middle"></span> <span class="bottom"></span>
				</div>
				<img alt=" " src="/img/HeaderLOGO.png" aria-expanded="true"
					style="width: auto; height: 52px; padding-left: 59px;"></img>

				<ul class="nav navbar-nav navbar-right user-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-expanded="false">Language</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="?lang=en" class="language" rel="en-UK">English</a></li>
							<li><a href="?lang=et" class="language" rel="et-EE">Eesti</a></li>
						</ul></li>

					<li class="user-name"><span th:text="${name}" th:remove="tag">username</span></li>
					<li class="dropdown avatar-dropdown"><img src="/img/avatar.jpg" class="img-circle avatar"
						th:alt="${username}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
						<ul class="dropdown-menu user-dropdown">
							<li><a href="/account/edit" class="fa fa-cogs"> Account Setting</a></li>
							<li>
										<form action="#" data-th-action="@{/logout}" data-th-object="${model}" method="post">
											<button class="fa fa-power-off button-logout" style="margin-left: 16px;" type="submit"
												name="action" value="logout">  Log Out</button>
										</form>
							</li>
							
						</ul></li>

				</ul>

			</div>
		</div>
	</nav>

</body>
</html>