<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="header" class="navbar navbar-default header navbar-fixed-top">
		
		<div class="col-md-12 nav-wrapper">
			<img alt=" " src="/img/HeaderLOGO.png" aria-expanded="true" style="width: auto; height: 52px; padding-left: 59px;"></img>
			<div class="navbar-header" style="width: 100%;">
				<!--a href="/index" th:href="@{/}" class="navbar-brand"> <b>Consultation Web</b>
				</a-->
			</div>
		</div>
	</nav>

</body>
</html>