<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Materials</title>
<object th:replace="fragments/util :: standardCSS"></object>
</head>

<body id="mimin" class="dashboard">
	<!-- start: Header -->
	<div th:replace="fragments/header :: header"></div>
	<!-- end: Header -->

	<div class="container-fluid mimin-wrapper">

		<!-- start:Left Menu -->
		<div th:replace="fragments/menu :: leftMenu"></div>
		<!-- end: Left Menu -->


		<!-- start: content -->
		<div id="content">
			<div class="panel box-shadow-none content-header">
				<div class="panel-body">
					<div class="col-md-12">
						<h3 class="animated fadeInLeft">Materials</h3>
						<p class="animated fadeInDown">
							Materials <span class="fa-angle-right fa"></span> All materials
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-12" style="padding: 20px;">
				<div class="panel">
					<div class="panel-heading">
						<h4>Materials table</h4>
					</div>
					<div class="panel-body">
						<a th:if="${role}==ADMINISTRATOR" th:href="@{'/materials/create'}"><button type="button"
								class="btn btn-primary" value="primary">New material</button></a>
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Link</th>
									<th th:if="${role}==ADMINISTRATOR">Edit</th>
									<th th:if="${role}==ADMINISTRATOR">Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="m : ${materials}">
									<td th:text="${m.getId()}">000</td>
									<td th:text="${m.getName()}">000</td>
									<td><a th:text="${m.getLink()}" th:href="${m.getLink()}">ipsum</a></td>
									<td th:if="${role}==ADMINISTRATOR"><a th:href="@{'/materials/'+${m.getId()}+'/edit'}"><button
												type="button" class="btn btn-warning" value="warning">Edit</button></a></td>
									<td th:if="${role}==ADMINISTRATOR"><a
										th:href="@{'/materials/'+${m.getId()}+'/delete'}"><button type="button"
												class="btn btn-danger" value="danger">Delete</button></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end: content -->

	</div>

	<!-- start: Mobile -->
	<div id="mimin-mobile" class="reverse" th:include="fragments/menu :: mobileMenu"></div>
	<button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
		<span class="fa fa-bars"></span>
	</button>
	<!-- end: Mobile -->

	<!-- start: Javascript -->
	<div th:replace="fragments/util :: standardJS"></div>
	<!-- plugins -->
	<script th:src="@{/webjars/morrisjs/0.5.1/morris.min.js}"></script>
	<script th:src="@{/webjars/raphaeljs/2.1.2/raphael-min.js}"></script>
	<!-- end: Javascript -->
</body>
</html>