<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login page</title>
<object th:replace="fragments/util :: standardCSS"></object>
</head>
<body id="mimin" class="dashboard form-signin-wrapper">
	<div class="container">

		<form class="form-signin" method="post" th:action="@{/login}">
			<div class="panel periodic-login">
				<span class="atomic-number">28</span>
				<div class="panel-body text-center">
					<h1 class="atomic-symbol">Av</h1>
					<p class="atomic-mass">14.072110</p>
					<p class="element-name">Avok</p>

					<i class="fa fa-angle-down" style="font-size: 2em;"></i>
					<div class="form-group form-animate-text" style="margin-top: 40px !important;">
						<input type="text" class="form-text" name="username" required="required" /> <span class="bar"></span>
						<label>Username</label>
					</div>
					<div class="form-group form-animate-text" style="margin-top: 40px !important;">
						<input type="password" class="form-text" name="password" required="required" /> <span
							class="bar"></span> <label>Password</label>
					</div>
					<input type="submit" class="btn col-md-12" value="SignIn" />
				</div>
			</div>
		</form>

	</div>

	<!-- start: Javascript -->
	<div th:replace="fragments/util :: standardJS"></div>
	<!-- end: Javascript -->
</body>
</html>