<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Consultation request</title>
<object th:replace="fragments/util :: standardCSS"></object>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/summernote/0.8.1/dist/summernote.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/select2/4.0.2/dist/css/select2.min.css}" />

</head>

<body id="mimin" class="dashboard">
		<div th:replace="fragments/request-header :: header"></div>

	<div class="container-fluid mimin-wrapper">

		
		<div id="content" style="padding-left: 0px">
			<div class="panel box-shadow-none content-header">
				<div class="panel-body">

							<div class="col-md-12" style="margin-top: 20px;">
								<div class="panel form-element-padding">
										<div class="panel-heading">
											<h4 th:text="#{form.title}">Please fill the form</h4>
										</div>

										<div class="panel-body" style="padding-bottom: 30px;">
											
												<div class="col-md-12">
													
													<form action="#" th:action="@{/request}" th:object="${consultation}" method="post" enctype="multipart/form-data"
													class="form-horizontal" content="text/html; charset=UTF-8">
													<div class="form-group">
														<label th:text="#{form.name.label}" for="name" class="col-sm-2 control-label text-right">Name</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" th:placeholder="#{form.name.placeholder}" th:title="#{form.name.mouseover}"
																th:field="*{name}" th:required="required" id="name"/>
				
														</div>                     
													</div>
													<div class="form-group">
														<label th:text="#{form.email.label}" for="email" class="col-sm-2 control-label text-right">Email</label>
														<div class="col-sm-6">
															<input type="email" class="form-control" id="email" th:placeholder="#{form.email.placeholder}"
																th:field="*{email}" th:required="required" th:title="#{form.email.mouseover}"/>
														</div>
													</div>
													<div class="form-group">
														<label th:text="#{form.programme.label}" for="programme" class="col-sm-2 control-label text-right">Programme</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="programme" th:placeholder="#{form.programme.placeholder}"
															th:title="#{form.programme.mouseover}"
																th:field="*{programme}" th:required="required"/>
														</div>
													</div>
													
													<div class="form-group">
														<label th:text="#{form.degree.label}" for="degree" class="col-sm-2 control-label text-right">Degree</label>
														<div class="col-sm-6">
															<select class="select2-A form-control" id="degree" th:title="#{form.degree.mouseover}" th:field="*{degree}" th:required="required">
																<option value="Bsc">Bsc</option>
																<option value="Ba">Ba</option>
																<option value="Msc">Msc</option>
																<option value="Ma">Ma</option>
																<option value="Phd">Phd</option>
															</select>
														</div>
													</div>
													 
												
													<div class="form-group">
														<label th:text="#{form.department.label}" for="department" class="col-sm-2 control-label text-right">Department</label>
														<div class="col-sm-6">
															<select class="select2-A form-control" id="department" th:title="#{form.department.mouseover}" th:field="*{department}" th:required="required">
																<option th:text="#{form.department.option1}" th:value="#{form.department.option1}">Faculty of Art and Humanities</option>
																<option th:text="#{form.department.option2}" th:value="#{form.department.option2}">Faculty of Social Sciences</option>
																<option th:text="#{form.department.option3}" th:value="#{form.department.option3}">Faculty of Medicine</option>
																<option th:text="#{form.department.option4}" th:value="#{form.department.option4}">Faculty of Science and Technology</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label th:text="#{form.language.label}" for="language" class="col-sm-2 control-label text-right">Language</label>
														<div class="col-sm-6">
															<select class="select2-A form-control" id="language" th:title="#{form.language.mouseover}" th:field="*{language}" th:required="required">
																<option th:text="#{form.language.option1}" th:value="Estonian">Estonian</option>
																<option th:text="#{form.language.option2}" th:value="English">English</option>
															</select>
														</div>
													</div>
						
												    
												    <div class="form-group">
														<label th:text="#{form.texttype.label}" for="programme" class="col-sm-2 control-label text-right">Text type</label>
														<div class="col-sm-6">
												         <input type="text" class="form-control" th:title="#{form.texttype.mouseover}"
												         th:placeholder="#{form.texttype.placeholder}" th:field="*{textType}" th:required="required"/>
														</div>
													</div>
												    
												    
												    
												      
													<div class="form-group"> 
														<label th:text="#{form.fileupload.label}" for="File" class="col-sm-2 control-label text-right">Upload File</label>	
									                      <div class="row">
									                        <div class="col-sm-6">
									                          <div class="input-group fileupload-v1" style="float: right;">
									                            <input type="file" name="manualfile" accept=".doc,.docx,.pdf" class="fileupload-v1-file hidden"/>
									                            <input type="text" th:title="#{form.fileupload.mouseover}" class="form-control fileupload-v1-path"  th:placeholder="#{form.fileupload.path}" />
									                            <span class="input-group-btn">
									                              <button class="btn fileupload-v1-btn" th:text="#{form.fileupload.choose}" type="button"><i class="fa fa-folder"></i>Choose File</button>
									                            </span>
									                          </div>
									                        </div>
									                      </div>
								                    </div> 
													
													<div class="form-group">
														<label th:text="#{form.comments.label}" th:title="#{form.comments.mouseover}" for="comments" class="col-sm-2 control-label text-right">Comments</label>
														<div class="col-sm-6">
															<textarea id="summernote" th:field="*{comments}" class="summernote "></textarea>
														</div>
													</div>
													
													<div class="form-group">
														<div class="col-sm-offset-2 col-sm-10">
															<input type="submit" th:value="#{form.submit}" class="btn btn-primary" />
														</div>
													</div>
												</form>
						
												</div>							
											
										</div>
								</div>
							</div>				
								
					</div>
			</div>
		</div>
	</div>

	<!-- start: Javascript -->
	<div th:replace="fragments/util :: standardJS"></div>
	<!-- plugins -->
	<script th:src="@{/webjars/summernote/0.8.1/dist/summernote.min.js}"></script>
	<script th:src="@{/webjars/select2/4.0.2/dist/js/select2.full.min.js}"></script>
	<script src="/js/summer_note_builder.js"></script>
	<script src="/js/tooltip.js"></script>
	<!-- custom -->
	<!-- end: Javascript -->
</body>
</html>