<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Consultation request</title>
<object th:replace="fragments/util :: standardCSS"></object>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/summernote/0.8.1/dist/summernote.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/select2/4.0.2/dist/css/select2.min.css}" />

</head>

<body id="mimin" class="dashboard">
		<div th:replace="fragments/request-header :: header"></div>

	<div class="container-fluid mimin-wrapper">

		
		<div id="content" style="padding-left: 0px">
			<div class="panel box-shadow-none content-header">
				<div class="panel-body">

							<div class="col-md-12" style="margin-top: 20px;">
								<div class="panel form-element-padding">
										<div class="panel-heading">
											<h4>Please fill the form</h4>
										</div>

										<div class="panel-body" style="padding-bottom: 30px;">
											
												<div class="col-md-12">
													
													<form action="#" th:action="@{/request}" th:object="${consultation}" method="post" enctype="multipart/form-data"
													class="form-horizontal" content="text/html; charset=UTF-8">
													<div class="form-group">
														<label for="name" class="col-sm-2 control-label text-right">Name</label>
														<div class="col-sm-6">
															<input type="text" class="form-control"   placeholder="Full name"
																th:field="*{name}" th:required="required" id="name"/>
				
														</div>                     
													</div>
													<div class="form-group">
														<label for="email" class="col-sm-2 control-label text-right">Email</label>
														<div class="col-sm-6">
															<input type="email" class="form-control" id="email" placeholder="email@asd.ee"
																th:field="*{email}" th:required="required"/>
														</div>
													</div>
													<div class="form-group">
														<label for="programme" class="col-sm-2 control-label text-right">Programme</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="programme" placeholder="Programme"
															data-toggle="Programme" title="Math, Physic, Software engineering, etc."
																th:field="*{programme}" th:required="required"/>
														</div>
													</div>
													
													<div class="form-group">
														<label for="degree" class="col-sm-2 control-label text-right">Degree</label>
														<div class="col-sm-6">
															<select class="select2-A form-control" id="degree" th:field="*{degree}" th:required="required">
																<option value="Bsc">Bsc</option>
																<option value="Ba">Ba</option>
																<option value="Msc">Msc</option>
																<option value="Ma">Ma</option>
																<option value="Phd">Phd</option>
															</select>
														</div>
													</div>
													 
												
													<div class="form-group">
														<label for="department" class="col-sm-2 control-label text-right">Department</label>
														<div class="col-sm-6">
															<select class="select2-A form-control" id="department" th:field="*{department}" th:required="required">
																<option value="Faculty of Art and Humanities">Faculty of Art and Humanities</option>
																<option value="Faculty of Social Sciences">Faculty of Social Sciences</option>
																<option value="Faculty of Medicine">Faculty of Medicine</option>
																<option value="Faculty of Science and Technology">Faculty of Science and
																	Technology</option>
																<option value="Office of Academic Affairs">Office of Academic Affairs</option>
																<option value="Estonian Genom Center, Univercity of Tartu">Estonian Genom
																	Center, Univercity of Tartu</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label for="language" class="col-sm-2 control-label text-right">Language</label>
														<div class="col-sm-6">
															<select class="select2-A form-control" id="language" th:field="*{language}" th:required="required">
																<option value="English">English</option>
																<option value="Estonian">Estonian</option>
																<option value="Russian">Russian</option>
																<option value="German">German</option>
															</select>
														</div>
													</div>
						
												    
												    <div class="form-group">
														<label for="programme" class="col-sm-2 control-label text-right">Text type</label>
														<div class="col-sm-6">
												         <input type="text" class="form-control"  data-toggle="purpose" title="Article, Essay, Thesis,etc."
												         placeholder="Text Type" th:field="*{textType}" th:required="required"/>
														</div>
													</div>
												    
												    
												    
												      
													<div class="form-group"> 
														<label for="File" class="col-sm-2 control-label text-right">Upload File</label>	
									                      <div class="row">
									                        <div class="col-sm-6">
									                          <div class="input-group fileupload-v1" style="float: right;">
									                            <input type="file" name="manualfile" accept=".doc,.docx,.pdf" class="fileupload-v1-file hidden"/>
									                            <input type="text" class="form-control fileupload-v1-path"  placeholder="File Path..." />
									                            <span class="input-group-btn">
									                              <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i> Choose File</button>
									                            </span>
									                          </div>
									                        </div>
									                      </div>
								                    </div> 
													
													<div class="form-group">
														<label for="comments" class="col-sm-2 control-label text-right">Comments</label>
														<div class="col-sm-6">
															<textarea id="summernote" th:field="*{comments}" class="summernote "></textarea>
														</div>
													</div>
													
													<div class="form-group">
														<div class="col-sm-offset-2 col-sm-10">
															<input type="submit" value="Save" class="btn btn-primary" />
														</div>
													</div>
												</form>
						
												</div>							
											
										</div>
								</div>
							</div>				
								
					</div>
			</div>
		</div>
	</div>

	<!-- start: Javascript -->
	<div th:replace="fragments/util :: standardJS"></div>
	<!-- plugins -->
	<script th:src="@{/webjars/summernote/0.8.1/dist/summernote.min.js}"></script>
	<script th:src="@{/webjars/select2/4.0.2/dist/js/select2.full.min.js}"></script>

	<!-- custom -->
	<script th:inline="javascript">
		$(document).ready(function() {
			
			$('#summernote').summernote({
				height : 300, // set editor height
				minHeight : 300
			// set minimum height of editor
			});

		});
		
		$(document).ready(function(){
		    $('[data-toggle="purpose"]').tooltip();
		});  
		
		$(document).ready(function(){
		    $('[data-toggle="Programme"]').tooltip();
		});
		
	</script>
	<!-- end: Javascript -->
</body>
</html>