<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Index page</title>


<object th:replace="fragments/util :: standardCSS"></object>
</head>

<body id="mimin" class="dashboard">
	<!-- start: Header -->
	<div th:replace="fragments/request-header :: header"></div>
	<!-- end: Header -->

	<div class="container-fluid mimin-wrapper">
		<div id="content" style="padding-left: 0px">
			<div class="btn-wrapper">
				<div class="col-md-12" style="margin-top: 20px;">
					<div class="col-md-8 col-md-push-2">
						<div class="panel text-center">
							<div class="panel-heading ">
								<h1>Welcome to AVOK</h1>
							</div>
							<div class="panel-body">
								<h2>
									<small>Thanks for choosing the Centre for Academic Writing and Communication
										(AVOK). In this portal, we help our users to improve their articles, essaies, and theses,
										in different languages. The students can submit their written document in our request form
										and our consultants make an appointment for them as soon as possible. Please feel free to
										make a feedback about our services at the end. We hope our service improve your results.</small>
								</h2>

								<a href="/" th:href="@{/request}" class="btn btn-primary btn-round blue btn-lg"> Request
									form <span style="margin-left: 10px;" class="fa fa-check-square-o"></span>
								</a>

								<h2>
									<small> If you are already one of our consultants, you can log in here.</small>
								</h2>

								<a href="/" th:href="@{/login}" class="btn btn-success btn-round green btn-lg"> Log in <span
									style="margin-left: 10px;" class="fa fa-sign-in"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- start: Javascript -->
	<div th:replace="fragments/util :: standardJS"></div>
	<!-- plugins -->
	<script th:src="@{/webjars/morrisjs/0.5.1/morris.min.js}"></script>
	<script th:src="@{/webjars/raphaeljs/2.1.2/raphael-min.js}"></script>
	<!-- end: Javascript -->
</body>
</html>